<h1 class="title is-2">Dashboard</h1>

<section class="section">
    <div class="block">
        <h2 class="subtitle is-4 has-text-centered">Post Stats</h2>
    </div>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">0</p>
                <p class="heading">articles</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">0</p>
                <p class="heading">boosts</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-1">0</p>
                <p class="heading">favorites</p>
            </div>
        </div>
    </div>
</section>

<section class="section">

    <div class="block">
        <h2 class="subtitle is-4">Recent Posts</h2>
    </div>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Post</th>
                <th>Drafted</th>
                <th>Published</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/">My Post</a></td>
                <td>1 week ago</td>
                <td>3 days ago</td>
                <td>
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <span class="tags has-addons has-text-weight-semibold">
                                <span class="tag is-warning">
                                    <span class="icon">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </span>
                                <span class="tag is-dark">27</span>
                            </span>
                        </div>
                        <div class="control">
                            <span class="tags has-addons is-info has-text-weight-semibold">
                                <span class="tag is-info">
                                    <span class="icon">
                                        <i class="fas fa-retweet"></i>
                                    </span>
                                </span>
                                <span class="tag is-dark">39</span>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
</section>