@model (DateTime? date, bool includeTime)

<span class="datetime" title="@(Model.date is null ? "No date." : Model.date.Value.ToString("ddd, d MMM yyyy HH:mm:ss") + " (UTC)") ">
    @if (Model.date is null)
    {
        <em>Never</em>
    }
    else
    {
        @Model.date?.ToString(Model.includeTime is true ? "d MMM yyyy @ HH:mm" : "d MMM yy")
    }
</span>