/* Site Theme */
:root {
    --bulma-primary-h: 333;
    --bulma-primary-s: 85%;
    --bulma-primary-l: 55%;

    --bulma-danger-h: 0deg;
    --bulma-danger-s: 84%;
    --bulma-danger-l: 65%;

    --bulma-success-h: 140deg;
    --bulma-success-s: 53%;
    --bulma-success-l: 53%;
}

body.apagee-admin #main {
    min-height: calc(100vh - 250px);
}

/* Custom stuff */
i.e,
span.e {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span.icon.corner-stack *:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.67rem;
    text-shadow: 2px 2px var(--bulma-body-background-color), -2px 2px var(--bulma-body-background-color), 2px -2px var(--bulma-body-background-color), -2px -2px var(--bulma-body-background-color);
}
span.icon.corner-stack {
    position: relative;
}

table td.has-truncated-title {
    max-width: 250px;
}

.article-title-truncated {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

 .is-not-wrapped {
    white-space: pre;
 }

/* Checkboxes can be a bit bigger */
input.checkbox[type=checkbox] {
    transform-origin: 50% 50%;
    transform: scale(1.65);
    margin-left: 0.4rem;
    margin-right: 1rem;
}

/* Icons in active links should always be white */
.menu a.is-active span.icon i {
    color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), var(--bulma-menu-item-color-l));
}

/* Stuff that should have been in Bulma in the first place... */
.tags.has-addons > .tag .icon:first-child:last-child {
    margin-inline-end: -.5rem;
    margin-inline-start: -.5rem;
}

.x100,
.w100 {
    width: 100%;
}

.y100,
.h100 {
    height: 100%;
}

.mx100,
.mw100 {
    min-width: 100%;
}

.my100,
.mh100 {
    min-height: 100%;
}

.is-resize-vertical {
    resize: vertical;
}

.is-line-height-small {
    line-height: 1.15;
}

.is-justify-self-flex-start {
    justify-self: flex-start;
}

.is-justify-self-flex-end {
    justify-self: flex-end;
}

.is-justify-self-center {
    justify-self: center;
}

.is-vertical-align-middle,
tr.is-vertical-align-middle > td,
tr.is-vertical-align-middle > th {
    vertical-align: middle;
}

.invisible {
  display: none !important;
}