@model ArticleListViewModel

@{
    Layout = "Public/_PublicLayout";
    ViewBag.BodyClass = "article";
    var article = Model.Articles.Single();
}

@section head
{
    <link rel="alternate" type="application/activity+json" href="https://@GlobalConfiguration.Current?.PublicHostname/api/users/@GlobalConfiguration.Current?.FediverseUsername/statuses/@article.Article.Uid" />
}

<div class="article">
    <article>
        <header>
            <h1 class="title">@article.Article.Title</h1>

            <div class="published">
                <time datetime="@(article.Article.PublishedOn?.ToString("s"))Z">@(article.Article.PublishedOn?.ToString("MMMM d, yyyy"))</time>
            </div>
        </header>
        
        <section class="content">
            @Html.Raw(article.BodyHtml)
        </div>
    </article>
</div>

<partial name="AtaSection" model="Model" />