@{
    Layout = "Public/_PublicLayout";
}

@model ArticleViewModel
<article>
    <header>
        <h1 class="title is-2">@Model.Article.Title</h1>
    </header>
    
    <div class="content">
        @Html.Raw(Model.BodyHtml)
    </div>

    <aside class="ata">
        <div class="ata-header">
            About the Author
        </div>
        @* pfp *@
        <div class="author">
            @if (Model.AuthorDisplayName is string { Length: > 0 } displayName)
            {
                <span class="display">@displayName</span>
            }
            <span class="username">@@@(Model.AuthorUsername)</span>
        </div>
        @if (Model.AuthorBio is string { Length: > 0 } bio)
        {
            <div class="bio">
                @bio
            </div>
        }
    </aside>
</article>