@model ArticleListViewModel

@{
    Layout = "Public/_PublicLayout";
    ViewBag.BodyClass = "author";
    var config = GlobalConfiguration.Current;
    var settings = SettingsService.Current;
}

@section head
{
    <link rel="alternate" type="application/activity+json" href="https://@config?.PublicHostname/api/users/@config?.FediverseUsername" />
}

<div class="back">
    <a href="/">&laquo; Back</a>
</div>

<h1>About the Author</h1>

@if (settings?.BannerImage is not null)
{
    <div class="banner">
        <img src="/banner.png" alt="Banner for @config?.FediverseUsername" />
    </div>
}

@if (settings?.AuthorAvatar is not null)
{
    <div class="avatar">
        <img src="/avatar.png" alt="Avatar for @config?.FediverseUsername" />
    </div>
}
<div class="info">
    <b>@config?.AuthorDisplayName</b> @@@config?.FediverseUsername
    @if (config?.FediverseBio is string { Length: > 0 } bio)
    {
        <p class="bio">
            @bio
        </p>
    }
    <div class="follow">
        <partial name="Public/FollowForm" />
    </div>
</div>
<div class="properties">
    @foreach (var prop in new[] {
        new { key = settings?.Property1Key, value = settings?.Property1Value, valueFormatted = settings?.Property1Formatted },
        new { key = settings?.Property2Key, value = settings?.Property2Value, valueFormatted = settings?.Property2Formatted },
        new { key = settings?.Property3Key, value = settings?.Property3Value, valueFormatted = settings?.Property3Formatted }
    })
    {
        @if (prop.key is string { Length: > 0} k1
            && prop.value is string { Length: > 0} v1)
        {
            <div class="prop">
                <span class="key">@prop.key</span>   
                <span class="value">@Html.Raw(prop.valueFormatted)</span>
            </div>
        }
    }
</div>