<form asp-action="Follow" asp-controller="System" method="post">
    <input type="text" id="follow-target" name="followTarget" class="follow-target" placeholder="user@fediverse.example" />
    <button class="follow-button" type="submit">Follow Me</button>
</form>